.answers-standard-button, .correctAnswer, .incorretAnswer {
  background-color: #3a4550;
  border: 3px solid #3a4550;
  border-radius: 8px;
  color: white;
  margin: 5px;
  padding: 4px;
}

.answers-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 16px;
}

.timer-container {
  background-color: brown;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 12px;
  padding: 5px 20px;
  width: 55px;
}

.correctAnswer {
  border: 3px solid rgb(6, 240, 15);
}

.incorretAnswer {
  border: 3px solid red;
}

.nextBtn {
  background-color: brown;
  border: none;
  border-radius: 5px;
  color: white;
  height: 25px;
  width: 150px;
}

